{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>

<div class="slider-area ">
<div class="single-slider slider-height2 d-flex align-items-center">
<div class="container">
<div class="row">
<div class="col-xl-12">
<div class="hero-cap text-center">
<h2>Checkout</h2>
</div>
</div>
</div>
</div>
</div>
</div>

<section class="checkout_area section_padding">
<div class="container">
<div class="returning_customer">
<div class="check_title">
<h2>
Returning Customer?
<a href="#">Click here to login</a>
</h2>
</div>


</div>
<div class="billing_details">
<div class="row">
<div class="col-lg-8">
<h3>Delivery Address</h3>

<form class="row contact_form" action="" method="POST" >
{% csrf_token %}
{{ form.non_field_errors }}
<div class="col-md-6 form-group p_star">
 {{ form.name.errors }}
<input type="text" required class="form-control" id="id_name" placeholder="Name" name="name">
</div>

<div class="col-md-6 form-group p_star">
 {{ form.phone.errors }}
 <select hidden name="order" required id="id_order">
    <option value="{{order}}" selected></option>
  </select>

<input type="text" required class="form-control" id="id_phone" placeholder="Phone" name="phone">
</div>
<div class="col-md-6 form-group p_star">
 {{ form.city.errors }}
<input type="text" required  class="form-control" id="id_city" name="city" placeholder="City">

</div>
<div class="col-md-6 form-group p_star">
 {{ form.country.errors }}
<input type="text" required class="form-control" placeholder="Country" id="id_country" name="country">

</div>
<div class="col-md-6 form-group p_star">
 {{ form.state.errors }}
<input type="text" required class="form-control" id="id_state" name="state"placeholder="State">
</div>
<div class="col-md-6 form-group p_star">
 {{ form.zipcode.errors }}
<input type="text" required class="form-control" id="id_zipcode" name="zipcode" placeholder="Zipcode">
</div>
<div class="col-md-6 form-group p_star">
    <button class="btn_1 checkout_btn_1" type="submit">Confirm Order</button>
</div>
</div>

</form>
<div class="col-lg-4">
<div class="order_box">
<h2>Your Order</h2>
<ul class="list">
<li>
<a href="#">Product
<span>Total</span>
</a>
</li>

{%for item in orderitems%}

<li>
<a href="#">{{item.product}}
<span class="middle">x {{item.quantity}}</span>
<span class="last">${{item.get_orderitem_price}}</span>
</a>
</li>
{%endfor%}
</ul>
</div>
</div>


</div>
</div>
</div>
</section>

</main>
{% endblock content %}